<section class="error" style="--accent-color: {{{ProviderAccentColor}}}">
    <h1 class="error__title">Error</h1>
    <p class="error__description">
        {{{error}}}
    </p>
</section>

{{#if callbackUrl}}
    <form name="callback" method="post" action="{{{callbackUrl}}}">
        <input type="hidden" name="error" value="{{{error}}}"/>
        <input type="hidden" name="auth" value="{{{Authorisation}}}">
        <input type="hidden" name="state" value="{{{PublicState}}}">
    </form>
    <script>
        window.addEventListener("load", function () {
            document.querySelector('form[name=callback]').submit();
        });
    </script>
{{/if}}

<script src="{{frontendEntryScript}}"></script>
<script>
    window.addEventListener("load", function () {
        window.requestAnimationFrame(() => {
            callback({
                object: 'error',
                type: 'integration_error',
                critical: true,
                message: `{{{error}}}` || 'Something went wrong',
                state: '{{{PublicState}}}'
            });
        });
    });
</script>
